@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000;
    padding: 15px 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo em {
    color: #EE664E;
    font-style: normal;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #EE664E;
}

.main-button {
    background-color: #EE664E;
    border-radius: 4px;
}

.main-button:hover {
    background-color: #fff;
    color: #EE664E;
}
